@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1:#000000;
    --cor2:#FFFFFF;
    --cor3:#00FF66;
    --cor4:#00BFFF;
    --cor5:#00CC55;
    --cor6:#CCCCCC;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 80px;
    overflow-x: hidden;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #040509;
    z-index: -1;
}