@charset "UTF-8";

:root {
    --cor1:#000000bc;
    --cor2:#ffffffd2;
    --cor3:#00FF66;
    --cor4:#00BFFF;
    --cor5:#00CC55;
    --cor6:#CCCCCC;
}

header{
    width: 100%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid var(--cor5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    top: 0;
    left: 0;
    z-index: 3;
    position: fixed;
}    

header > div.menu-hamburguer > i{
    display: none;
}

header > div.menu-hamburguer div.menu-mobile{
    display: none;
}

header > h1.txt-text-name{
    background: linear-gradient(to right, var(--cor5), var(--cor4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.7em;
    font-weight: bold;
}

header > nav.menu-principal{
    display: flex;
    gap: 25px;
    font-size: large;
    font-weight: bold;
    align-items: center;
}

header > nav.menu-principal > a{
    text-decoration: none;
    position: relative;
    color: var(--cor2);
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}

a::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--cor3);
    transition: width 0.5s;
}

header > nav.menu-principal > a:hover::after{
    width: 100%;
}

header > nav.menu-principal > a:hover{
    color:var(--cor5);
}

@media (max-width: 768px) {
    header{
        justify-content: space-between;
    }

    header > h1.txt-text-name{
        font-size: 1.5em;
        max-width: 65%;
    }

    header > div.menu-hamburguer > i{
        display: block;
        cursor: pointer;
        font-size: 1.5em;
        color: var(--cor2);
    }

    header > div.menu-hamburguer div.menu-mobile{
        display: none;
        position: absolute;
        top:80px;
        left: 0;
        width: 65%;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.882);
        border-right: 5px solid var(--cor3);
        border-bottom: 5px solid var(--cor3);
        border-bottom-right-radius: 10px;
    }

    header > div.menu-hamburguer div.menu-mobile.active{
        display: flex;
        transition: 0.5s;
    }

    header > div.menu-hamburguer div.menu-mobile a{
        padding: 15px 20px;
        margin: 10px 0;
        text-decoration: none;
        color: var(--cor2);
        transition: 0.5s;
        font-size: 1.2em;
    }

    header > div.menu-hamburguer div.menu-mobile a > i {
        margin-right: 20px;
    }

    header > div.menu-hamburguer div.menu-mobile a:hover {
        border: 2px solid var(--cor3);
        background: linear-gradient(to right, var(--cor5), var(--cor4));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    header > nav.menu-principal{
        display: none;
    }
}