:root {
  --cor1:#000000bd;
  --cor2:#FFFFFF;
  --cor3:#00FF66;
  --cor4:#00BFFF;
  --cor5:#00CC55;
  --cor6:#CCCCCC;
}

main {
  min-height: calc(100vh - 80px);
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column; /* garante que os blocos fiquem em coluna */
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin: 0 auto;
  gap: 70px; /* espaçamento entre as seções */
  padding: 40px 20px;
}

/* --- SEÇÃO DE APRESENTAÇÃO --- */
main > section.texto-de-apresentação {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 70px 0;
  border-bottom: 4px solid var(--cor5);
  border-left: 10px solid var(--cor5);
  border-radius: 10px;
  width: 80%;
  max-width: 1000px;
  padding: 20px;
}

main > section.texto-de-apresentação .txt-apresentation {
  color: var(--cor2);
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
}

main > section.texto-de-apresentação .txt-apresentation h2 {
  font-size: 1.8em;
  font-weight: 600;
}

main > section.texto-de-apresentação .txt-apresentation h2 span {
  font-weight: 700;
  background: linear-gradient(to right, var(--cor5), var(--cor4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main > section.texto-de-apresentação .txt-apresentation p {
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: justify;
}

main > section.texto-de-apresentação .btn-button-download {
  background: linear-gradient(to right, var(--cor5), var(--cor4));
  color: white;
  border: none;
  padding: 10px 0;
  width: 250px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
}

main > section.texto-de-apresentação .btn-button-sobre-mim {
  display: none;
}

main > section.texto-de-apresentação .btn-button-download:hover {
  opacity: 0.8;
}

main > section.texto-de-apresentação > section.sobremim {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

/* --- SEÇÃO SOBRE MIM (ABAIXO) --- */
main > section.sobre-mim {
  display: flex;
  margin: 40px 0;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: flex-start;
  justify-content: center;
  border-top: 5px solid var(--cor5);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  gap: 20px;
  color: white;
  border-right: 10px solid var(--cor5);
  border-radius: 10px;
  width: 80%;
  max-width: 1000px;
  padding: 20px;
}

main > section.sobre-mim h2 {
  font-size: 1.8em;
  font-weight: 600;
  text-align: right;
  background: linear-gradient(to right, var(--cor5), var(--cor4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main > section.sobre-mim p {
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: justify;
}

/* --- RESPONSIVIDADE --- */
@media (max-width: 926px) {
  main {
    padding: 0px 10px;
    gap: 30px;
  }

  main > section.texto-de-apresentação {
    flex-direction: column;
    margin: none;
    width: 95%;
    gap: 15px;
  }

  main > section.texto-de-apresentação .txt-apresentation h2 {
    font-size: 1.2em;
    margin: 5px 0px 0px 0px;
    text-align: center;
  }

  main > section.texto-de-apresentação .txt-apresentation p {
    font-size: 1em;
  }

  main > section.texto-de-apresentação .btn-button-download {
    width: 70%;
    height: 40px;
    margin: 0 auto;
  }

  .animation-Lottie {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
  }

  main > section.sobre-mim {
    width: 95%;
  }

  main > section.texto-de-apresentação .btn-button-sobre-mim{
    background: linear-gradient(to right, var(--cor5), var(--cor4));
    border: none;
    padding: 10px 0;
    width: 250px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin: 0 auto;
  }

  main > section.texto-de-apresentação .btn-button-sobre-mim a {
    color: white;
    text-decoration: none;
  }

  main > section.texto-de-apresentação .btn-button-sobre-mim a i {
    margin-left: 8px;
  }

  main > section.texto-de-apresentação .btn-button-sobre-mim:hover {
    opacity: 0.8;
  }
  
}
